<div class="body">
  <div>
    <h2>Chức Danh</h2>
    <button type="button" class="btn btn-primary" (click)="addOrEdit()">Thêm</button>
    <label>Tìm theo tên</label><input type="text"><button type="button" class="btn btn-danger">Tìm</button>
  </div>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Phân loại</th>
      <th scope="col">Mã</th>
      <th scope="col">Mô tả</th>
      <th>Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let job of jobstatus">
      <td>{{job.id}}</td>
      <td>{{job.name}}</td>
      <td>{{job.code}}</td>
      <td>{{job.description}}</td>
      <td>
        <button type="button" class="btn btn-info mr-1" (click)="addOrEdit(job)"><i class="fa fa-edit"></i></button>
        <button type="button" class="btn btn-danger" (click)="delete(job.id)"><i class="fa fa-window-close"></i></button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
<!--Modal-->
<div *ngIf="isShowModal" class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1>{{isAddOrEdit ? 'Sửa thông tin' : 'Thêm thông tin'}}</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="jobstatusForm" (ngSubmit)="submit()">

          <div class="form-group">
            <label>*Tên chức danh</label>
            <input
              formControlName="name"
              id="name"
              type="text"
              class="form-control">


          </div>
          <div class="form-group">
            <label>*Mã chức danh</label>
            <input
              formControlName="code"
              id="code"
              type="text"
              class="form-control">


          </div>
          <div class="form-group"  >
            <label>*Mô tả</label>
            <textarea
              formControlName="description"
              id="description"
              type="text"
              class="form-control" cols="45" rows="8" maxlength="65525" ></textarea>


          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button class="btn btn-primary" type="submit" (click)="submit()" >Submit</button>
      </div>
    </div>
  </div>
</div>
