<div class="cach">
  <table class="table">
    <tr>
      <td>Tên khóa học</td>
      <td>Lần tổ chức</td>
      <td>Phòng học</td>
      <td>Số buổi học</td>
      <td>Bắt đầu</td>
      <td>Kết thúc</td>
      <td>Quản lý</td>
      <td>tùy chỉnh</td>
    <tr>
    <tr *ngFor="let course of courses">
      <td>{{course.description}}</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
<!--      <td><button type="button" class="btn btn-primary" (click)="editCategory(courses)"><i class="fa fa-edit"></i></button>-->
<!--        <button type="button" class="btn btn-danger" (click)="deleteCategory(courses.id)"><i class="fa fa-trash"></i></button></td>-->


    </tr>
  </table>
</div>
